@charset "UTF-8";

$wide-screen: 1400px;
$middle-screen: 1024px;


html {
  font-size: 100%;
}

body {
  font-family: Arial;
  line-height: 1.7;
}

h1 {
  font-size: 2.5em;
  margin: 1em 0;
}

h2 {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#home {
  text-align: center;

  .top {
    background-image: url("@/images/top-page.jpg");
    background-position: center top;
    background-size: cover;
    color: azure;
    min-height: 100vh;

    .top-content {
      margin-top: 30vh;

      p {
        font-size: 1.5em;
      }

      button {
        margin-top: 3em;
      }
    }
  }

  .main {
    @media screen and (min-width: $wide-screen) {
      max-width: 70%;
    }
    max-width: 75%;
    margin: auto;

    h1 {
      margin: 1em;
    }

    img{
      vertical-align: middle;
      width: 70%;
      height: 80%;
    }
  }

  .main > *:not(h2) {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  article {
    display: table;
    line-height: 3em;
    vertical-align: middle;
    width: 50%;

    .message {
      display: table-cell;
      vertical-align: middle;
    }
  }

  image {
    width: 50%;
  }
}

//
//.home {
//  max-width: 860px;
//}
//
//.body {
//  color: blue;
//  display: flex;
//  margin: 1em 1em;
//  min-width: 600px;
//}
//
//p {
//  margin: 2em 0;
//}
//
//.top-main{
//  background-color: aqua;
//}
